/* Estilo general de la página */
.home-container {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f9f9f9;
    padding: 20px;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .title {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
  }
  
  .subtitle {
    font-size: 1.8rem;
    color: #444;
  }
  
  /* Estilos para la lista de dispositivos */
  .device-item {
    background: linear-gradient(145deg, #ffffff, #f0f0f0);
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 180px;
    height: auto;
    transition: all 0.3s ease;
    border: 1px solid #e0e0e0;
    position: relative;
  }
  
  .device-item:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
  }
  
  .device-name {
    font-size: 1.3rem;
    color: #222;
    margin-bottom: 6px;
    font-weight: bold;
    text-align: center;
  }
  
  .device-id {
    color: #777;
    font-size: 0.85rem;
    margin-bottom: 10px;
    font-style: italic;
  }
  
  .device-image {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 2px;
    box-shadow: 0 4px 10px rgba(0, 188, 212, 0.2);
    transition: transform 0.3s ease;
    background-color: white;
  }
  
  .device-image:hover {
    transform: scale(2.1);
  }
  
  
  /* Botón para abrir el modal */
  .open-modal-btn {
    background-color: #00bcd4;
    color: white;
    margin-top: 30px;
    padding: 12px 24px;
    cursor: pointer;
    border-radius: 8px;
  }
  
  .open-modal-btn:hover {
    background-color: #0097a7;
  }
  
  /* Modal */
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 1;
    animation: fadeIn 0.3s forwards;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .modal-content {
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    animation: slideIn 0.5s ease-out;
  }
  
  @keyframes slideIn {
    from {
      transform: translateY(-30px);
    }
    to {
      transform: translateY(0);
    }
  }
  
  /* Estilo de los campos de entrada */
  .input-field {
    width: 100%;
    padding: 12px;
    margin: 15px 0;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f4f7f6;
    font-size: 1rem;
    color: #555;
  }
  
  .input-field:focus {
    border-color: #00bcd4;
    box-shadow: 0 0 8px rgba(0, 188, 212, 0.4);
    outline: none;
  }
  
  /* Botones del modal */
  .modal-buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  
  .submit-btn,
  .cancel-btn {
    padding: 12px 20px;
    border-radius: 8px;
    font-weight: bold;
    width: 48%;
    color: white;
    border: none;
    transition: background-color 0.3s ease;
  }
  
  .submit-btn {
    background-color: #00bcd4;
  }
  
  .submit-btn:hover {
    background-color: #0097a7;
  }
  
  .cancel-btn {
    background-color: #ff4f5b;
  }
  
  .cancel-btn:hover {
    background-color: #e03945;
  }
  